<footer class="main-footer">
  <strong>Copyright &copy; <img src="img/logo-stimik.png" width="26" alt="log stmik banjarbaru"><a href="#"> STMIK BANJARBARU</a>.</strong>
  Muhammad Ikhwan(310118012620) & Abdul Aziz Fathoni(310118012623).
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
