body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 36px;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
}

.invoice {
  background-image: url(/img/background-sertif.png);
  background-size: 80rem 56.588rem;
  background-repeat: no-repeat;
  background-position: center;
  font: 400 16px Arvo, serif;
}

.invoice .sertificate-title .sertificate-title-text {
  font-size: 23px;
}
.invoice .sertificate-title .sertificate-title-text #pemko {
  font: 200 21px Arimo, sans-serif;
}
.invoice .sertificate-number {
  margin-top: 26px;
  margin-bottom: 20px;
}
.invoice .sertificate-number .sertificate-number-title {
  color: #1e686f;
  font: 100 52px/14px "League Gothic", sans-serif;
  letter-spacing: 1.2px;
}
.invoice .sertificate-name {
  font-size: 23px;
}
.invoice .sertificate-name #name {
  color: #1e686f;
  font: 100 82px "League Gothic", sans-serif;
  letter-spacing: 1.5px;
}
.invoice .sertificate-paragraph {
  line-height: 21px;
  margin-bottom: 60px;
}
.invoice .sertificate-signature {
  color: #1e686f;
  line-height: 15px;
}
.invoice .sertificate-signature .signature-date {
  margin-bottom: 52px;
  font-size: 13px;
  font-weight: bold;
}
.invoice .sertificate-signature .signature-person {
  font-size: 13px;
  font-weight: bold;
}
.invoice .sertificate-signature .signature-person span {
  font-size: 14px;
  font-weight: bold;
}

.rekapitulasi {
  background-color: #fff;
  background-size: 21cm 29.7cm;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

.rekapitulasi .kop-surat {
  /* height: 4px; */
  /* line-height: 1px; */
}

.rekapitulasi .kop-surat .sub-heading {
  font-weight: 800;
  font-size: 16pt;
  margin-bottom: 0;
}

.rekapitulasi .kop-surat .heading {
  font-weight: 800;
  font-size: 20pt;
}
.rekapitulasi .kop-surat p {
  line-height: 0px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.rekapitulasi .kop-surat .line-kop {
  margin-bottom: 1px;
  height: 2px;
  background: #000;
}

.rekapitulasi .kop-surat .line-kop-1 {
  margin-top: 4px;
  margin-bottom: 2.5px;
  height: .5px;
  background: #000;
}

.rekapitulasi-title {
  margin-top: 0;
}

.dark-mode .rekapitulasi {
  background-color: #343a40;
}

.ttd p {
  font-size: 12pt;
}

.nama-pejabat {
  margin-bottom: 0px;
  text-decoration: underline;
}

.nip-pejabat {
  font-size: 8pt;
}
